{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}TechNest{% endblock %}</title>

		<!-- Favicon -->
		<link
			id="favicon"
			rel="icon"
			type="image/png"
			href="{% static 'img/black_solid.png' %}" />

		<!-- Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
		{% block extra_css %}{% endblock %}

		<!-- Add the favicon.js script -->
		<script src="{% static 'js/favicon.js' %}"></script>

		<!-- Other common CSS and JS files -->
		{% block extra_head %}{% endblock %}
	</head>
	<body class="bg-neutral-950 text-white font-['Azeret_Mono']">
		{% block navbar %}
		<!-- Navigation Bar -->
		<nav class="bg-neutral-900">
			<!-- Your navbar content -->
		</nav>
		{% endblock navbar %}

		<!-- Main Content -->
		{% block content %} {% endblock %} {% block footer %}
		<!-- Footer -->
		<footer class="bg-neutral-900">
			<!-- Your footer content -->
		</footer>
		{% endblock footer %} {% block extra_js %}{% endblock %}
	</body>
</html>
