{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2>Our Products</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Price: ${{ product.price }}</strong></p>
                    <button class="btn btn-primary add-to-cart" data-product="{{ product.id }}">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 